---
import GoToTop from "../ui/GoToTop.astro";
import WavySeparator from "../ui/WavySeparator.astro";
---

<footer class="mx-4">
  <WavySeparator class="text-[var(--md-sys-color-surface-container)]" />
  <div class="mx-auto px-4 py-8 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex justify-center text-sm text-[var(--md-sys-color-on-surface)] sm:justify-start">
        &copy; 2025 Naufal Ammar - Made with ❤️
      </div>
      <div class="flex justify-center mt-4 text-center text-sm text-[var(--md-sys-color-on-surface)] sm:mt-0 lg:text-right">
        <GoToTop />
      </div>
    </div>
  </div>
</footer>
